---
import MainNav from './MainNav.astro';
---

<header class="bg-white border-b border-stone-300 sticky top-0 z-50">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <a href="/" class="text-2xl font-bold text-zinc-700">
        Portal<span class="text-orange-500">Budowlany</span>
      </a>
      <MainNav />
    </div>
  </div>
</header>
